<!-- INHERITENCE -->
{% extends "layout.html" %}

<!-- TEMPLATE -->
{% block body %}
    <!-- IF STATEMENT -->
    {% if session.logged_in %}
        <h1>Logged in</h1>
    {% endif %}

    <h1>{{hello}}</h1>

  <!-- FOR LOOP -->
  {% for color in colors %}
      <h1> name : {{ color | safe }}</h1>
      <p> timestamp : {{ colors[color].timestamp | safe}} </p>
      <p> timestamp : {{ colors[color].lightvalue | safe}} </p>

  {% else %}
    <h2>No Colors</h2>
  {% endfor %}

    <h3>Flask is awesome</h3>

{% endblock %}
